ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

 p {
 color: red;
 font-style: italic;
}
 .Ghi {
 text-align: center;
 padding: 5px;
 border: solid 4px;
 border-radius: 10px;
 background-color: azure;
 color: gray;
}

 .TinNhan {
 text-align: center;
 border: solid 2px;
 border-radius: 10px;
 background-color: aruze;
 padding: 1px;
}

 .Gui {
 border: solid 3px;
 border-radius: 10px;
 color: gray;
 background-color: azure;
 padding: 2px;
 font-style: italic;
 font-size: 12px;
}
